<div class="container-fluid">
    <div class="row">
        <div class="mx-auto deck">
            <%# mazo: <%= @development_cards %> 
            <%= link_to pages_get_random_path do %>
                <%= image_tag("deck.jpeg", size:"400x500")%>
            <% end %>
        </div>
    </div>
</div>
<div class="container-fluid hands">
    <div class="row player-hand"">
        <% @user.hand.each do |card| %>
            <div class="col-10 my-5 mx-auto">
                <div class="card card-image">
                    <% if card.start_with?('k')%>
                        <%= image_tag("caballero.webp")%>
                    <% elsif card.start_with?('m')  %>
                        <%= image_tag("monopolio.webp") %>
                    <% elsif card.start_with?('i')  %>
                        <%= image_tag("invento.webp") %>
                    <% elsif card.start_with?('p')  %>
                        <%= image_tag("puntovictoria.webp") %>
                    <% elsif card.start_with?('c')  %>
                        <%= image_tag("carreteras.webp") %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
